body{
    background-color: black;
}
.hero{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.heading{
    color: rgb(255, 56, 56);
    font-size: 80px;
    font-family: "Nova cut";
}
button{
    border-radius: 5px;
    height: 47px;
    width: 200px;
    font-family: "Ramaraja";
    color: gray;
    font-size: 23px;
    font-weight: 400;
}
a{
    color: rgb(56, 56, 56);
}
footer{
    position: absolute;
    bottom: 4px;
    font-family: "Public sans";
    font-weight: 300;
}
